.MacaroonBoxControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
  }
  .MacaroonBoxControl .macaroon div {
    position: static;
    margin: 0 .5rem;
  }