.MacaroonBoxPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}
.macaroonBox {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #e7c2ee;

  display: flex;
  justify-content: center;
  align-items: center;
}
.macaroons {
  width: 380px;
  height: 380px;
  border-radius: 100%;
  position: relative;
}
.price {
  background-color: skyblue;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}