.Button {
  border: 0;
  margin: 0 .5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgb(133, 241, 255);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.Button:not(:disabled):hover {
  background-color: rgb(0, 138, 172);
}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: .5;
}

.green {
  background-color: rgb(133, 200, 255);
}
.green:not(:disabled):hover {
  background-color: rgb(0, 172, 172);
}