.NavItem a {
    display: block;
    color: black;
    text-decoration: none;
    padding: .5rem 1rem .9rem;
    border-bottom: 5px solid transparent ;
    transition: all .2s ease-in;
}
.NavItem a:hover {
    border-color: black;
    background-color: skyblue;
}
.NavItem a:active,
.NavItem a.active {
    border-color: black;
}
@media (max-width: 549px) {
    .NavItem a {
      border-right: 10px solid transparent;
      border-bottom: none;
    }
  } 